@use '../colors';

.market__view-more-button-tablet {
    display: none;
}

.market__update-table {
    width: 100%;
    border-collapse: collapse;
}

.market__update-table-header .update-table-column-header {
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
}

.update-table-column-header {
    font-family: 'Nunito';
    font-weight: normal;
    font-size: 0.87rem;
    color: #63696f;
}

.not-sortable {
    pointer-events: none;
}

.sort-button {
    width: 8px;
    height: 12px;
    background-color: transparent;
    margin-left: 5px;
}

.market__number-column-header {
    padding-right: 20px;
}

.update-table-row {
    border-bottom: 1px solid #ececec;
}

.update-table-column {
    font-family: 'Nunito';
    font-weight: normal;
    font-size: 1rem;
    color: colors.$darkTextColor;
    height: 30px;
    padding: 15px 0;
}

.currency-logo {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.currency-price {
    color: #0056b3;

    .change_negative, .change_positive {
        text-align: center;
        display: none;
    }
}

.change_negative {
    color: #ea3f3f;
}

.change_positive {
    color: #28a745;
}

@media (min-width: 1800px) {
    .update-table-column-header {
        font-size: 1.2rem;
    }

    .update-table-column {
        font-size: 1.3rem;
    }
}

@media (max-width: 1500px) {
    .market__wrapper {
        width: 95%;
    }
}

@media (max-width: 900px) {
    .market__volume-column-header, .market__supply-column-header, .market__graph-column-header {
        display: none;
    }

    .volume, .supply, .graph {
        display: none;
    }

    .market__wrapper {
        justify-content: center;
    }

    .market__view-more-button-desktop {
        display: none;
    }

    .market__view-more-button-tablet {
        display: block;
    }
}

@media (max-width: 420px) {
    .update-table-column-header, .update-table-column {
        font-size: 0.8rem;
    }

    .change_negative, .change_positive, .market__change-column-header {
        display: none;
    }

    .number, .market__number-column-header {
        display: none;
    }

    .currency-price .change_negative, .currency-price .change_positive {
        display: block;
    }
}