@use '../colors';

.popular-pairs__view-more-button-tablet {
    display: none;
}

.popular-pairs__list {
    width: 100%;
    display: flex;
    column-gap: 3px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 25px;
}

.currency-pair {
    width: 24.67%;
    min-width: 200px;
    flex-shrink: 0;
    padding: 20px 0;
    display: flex;
    border-radius: 7px;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    position: relative;
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 10px 30px 0px rgb(33, 37, 41, 0.12);

        .exchange-button-container {
            top: 98%;
            opacity: 1;
        }
    }
}

.pair-members, .pair-members-changes {
    display: flex;
    width: 81%;
    justify-content: space-between;
    align-items: center;
}

.pair-member {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-family: 'Nunito';
    font-weight: normal;
    font-size: 1.25rem;

    abbr {
        color: colors.$darkTextColor;
        text-decoration: none;
    }
}

.right-arrow-3 {
    width: 15px;
    height: 9px;
}

.last-change {
    font-family: 'Nunito';
    font-weight: normal;
    font-size: 1rem;
}

.last-change_negative {
    color: #ea3f3f;
}

.last-change_positive {
    color: #28a745;
}

.pair-exchange-rate {
    font-family: 'Nunito';
    font-weight: normal;
    color: #63696f;
}

.exchange-button-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 70%;
    opacity: 0;
    z-index: 10;

    background-color: white;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 0 20px 15px 0px rgb(33, 37, 41, 0.12);
    padding-bottom: 20px;

    display: flex;
    justify-content: center;

    transition: top 0.4s, opacity 0.3s;
}

.exchange-button {
    font-family: 'Nunito';
    font-weight: bold;
    color: white;
    width: 81%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    height: 40px;
    background-color: colors.$mainColor;
    border-radius: 7px;
    transition: scale 0.3s;

    &:hover {
        scale: 1.05;
    }

    &:hover img {
        transition: rotate 0.77s;
        rotate: 360deg;
    }
}

@media (hover: none) {
    .exchange-button-container {
        position: static;
        width: 100%;
        background-color: transparent;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: none;
        padding-bottom: 0;
        opacity: 1;
    }

    .currency-pair {
        box-shadow: 0 10px 30px 0px rgb(33, 37, 41, 0.12);
    }
}

@media (min-width: 1800px) {
    .pair-exchange-rate, .pair-members-changes {
        font-size: 1.2rem;
    }
}

@media (max-width: 756px) {
    .popular-pairs__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .popular-pairs__view-more-button-tablet {
        display: flex;
    }

    .popular-pairs__view-more-button-desktop {
        display: none;
    }

    .popular-pairs__list {
        justify-content: space-between;
    }

    .currency-pair {
        width: 48.4%;
    }
}

@media (max-width: 419px) {
    .popular-pairs__list {
        justify-content: center;
    }

    .currency-pair {
        width: 95%;
    }
}